# Lab 2 Statments, variables, datatypes, and operators

Objectives:

1. Learn how to name, declare and assign value to a variable.
2. Learn how to use operators of different datatypes.

# Statments
A program unit composes of number of statements
Ex:

In [ ]:
b = 20
a = 20 + b
c = sum([a,b])
print(a, b, c)

40 20 60

Statements is a logical instruction which Python interpreter can read and execute. In Python, it could be an
Expression is a representation of value. It is a combination of
* variables,
* values,
* operators, and
* function call

ðŸ¡ª that yields a result value

In [ ]:
max([a,b])

Assignment statement composes of all three components
* Variables 			ðŸ¡ª on the left-side of =
* Expression or values		ðŸ¡ª on the right-side of =
* Assignment operator  '='

Ex:

In [ ]:
a = 10 + 5

Usually, there is one python statement per line -- no need for semicolon in this case.
      z = 20+31
      b = z+ 52
      print('z = ',z)    

1. Multiple line statement: For a long statement, it can be put across multiple lines by:
- put \ at the end of *to be continued* statement
- if the statement contains any type of parenthesese, the statement continues across lines until the closing parenthesis has been reached.

In [ ]:
x = 1 + 2 \
+ 3 + 4 \
+ 5 + 6
print(x)

In [ ]:
mylist = ["apple",
          "banana", "cherry"]
print(name_list1)

In [ ]:
name_list1 = ["Bobs",
              "Jane",
              "John"]
print(name_list1)

2. Multiple statements per line: Also, multiple statements can be put in a single line and they are seperated by semicolon ;.

In [ ]:
age = 20; gender = 'Male'

# Question 1 (1.1-1.4)
How many statements are there in the following code

In [ ]:
# Assign values to num_1 through num_10
num_1 = 1;num_2 = 2;num_3 = 3;num_4 = 4;num_5 = 5
num_6 = 6;num_7 = 7;num_8 = 8;num_9 = 9;num_10 = 10

# Calculate the average
total_sum = num_1 + num_2 + num_3 + num_4 + num_5 + num_6 + num_7 + num_8 + num_9 + num_10
average = total_sum / 10

# Print the average
print(f"The average of the 10 numbers is: {average}")

1.1)The number of statement in the above cell is 13

In [ ]:
# Assign values to num_1 through num_10
num_1 = 1;num_2 = 2;num_3 = 3;
num_4 = 4;num_5 = 5
num_6 = 6;num_7 = 7;num_8 = 8;
num_9 = 9;num_10 = 10

# Calculate the average
total_sum = num_1 + num_2 + num_3 + num_4 + num_5 + num_6 + num_7 + num_8 + num_9 + num_10
average = total_sum / 10

# Print the average
print(f"The average of the 10 numbers is: {average}")

1.2)The number of statement in the above cell is 13

In [ ]:
# Assign values to num_1 through num_10
num_1 = 1;num_2 = 2;num_3 = 3;
num_4 = 4;num_5 = 5

# Calculate the average
total_sum = num_1 + num_2 + num_3 \
            + num_4 + num_5

average = total_sum / 5

# Print the average
print('''The average of the 10 numbers is:
 ''',  average)

1.3)The number of statement in the above cell is 8

In [ ]:
# Assign values to num_1 through num_10
num_1 = 1;num_2 = 2;num_3 = 3;
num_4 = 4;num_5 = 5
num_6 = 6;num_7 = 7;num_8 = 8;
num_9 = 9;num_10 = 10

# Calculate the average
total_sum = num_1 + num_2 + num_3 + num_4 + num_5 \
            +num_6 + num_7 + num_8 + num_9 + num_10
average = total_sum / 10

# Print the average
print(f"The average of the 10 numbers is: {average}")

1.4)The number of statement in the above cell is 13

# Variables
variables are used to store data

In [ ]:

import numpy as np
import keyword
np.reshape(keyword.kwlist, (5, 7))

In [ ]:
variable_1 = 20

In [ ]:
test-1 = 20

In [ ]:
1_variable = 10

**Exercise #:** Which one of the following is invalid for variable name?

var_1, _var1, 1_var, 111, for, var#1

the answer is : (111, for, var#1)

**Variable assignment**
Python variables do not need explicit declaration to reserve memory space. A data value is assigned to the targeted variable using its name via equal sign (=) as  an assignment operator. To a the value to a variable, the name of variable name is on the left and the assigned value is on the right

1. Assign a value to the variable
        a = 20
        print(a)
        print(type(a))
2. Assign the same value to multiple variables
        a = b = 20
        print(a)
        print(b)
3. Assign multiple value to multiple variables
        a, b = 20, 30
        print(a)
        print(b)

In [ ]:
a = 20
print(type(a))
a = 'test'
print(type(a))

<class 'int'>
<class 'str'>

# Question 2

1. Assign value 50.1 to variable name â€˜weightâ€™
2. Determine the type of variable â€˜weightâ€™ ðŸ¡ª print to screen
3. Determine the value of variable â€˜weightâ€™ ðŸ¡ª print to screen

In [ ]:
#1. Assign value 50.1 to variable name â€˜weightâ€™
weight = 50.1

#2. Determine the type of variable â€˜weightâ€™ ðŸ¡ª print to screen
print(type(weight))

#3. Determine the value of variable â€˜weightâ€™ ðŸ¡ª print to screen
print(weight)

# Question 3
1. Assign value 49.6 and 150 to variable name â€˜weightâ€™ and â€˜heightâ€™
within a single statement  
2. Determine the type of both variables  ðŸ¡ª print to screen
3. Determine the value of both variables ðŸ¡ª print to screen

In [9]:
#1
weight = 49.6
height = 150
#2
print(type(weight))
print(type(height))
#3
print(weight)
print(height)

<class 'float'>
<class 'int'>
49.6
150

**Variable naming rules**
1. Can only contain alpha-numeric characters and underscores
A-z, 0-9, and _
2. Must start with a letter or the underscore character.
3. Must not start with a number.
4. Are case-sensitive (age, Age and AGE are three different variables)
5. Not conflict with anyÂ Python keywords

# Question 4 (4.1-4.9):
Which one is invalid variable name in Python and why?
1. myVar1 = 'John'
2. myVar-1 =  'John'
3. 1_myVar =  'John'
4. _myVar1 =  'John'
5. myVar_1 =  'John'
6. 1myvar =  'John'
7. myVar#1 =  'John'
8. MyVar1 =  'John'
9. for =  'John'

In [ ]:
myVar1 = 'John'

The answer is

1. myVar1 = 'John' ==> valid name
---
2. myVar-1 =  'John' ==> invalid name because Variable name can only contain alpha-numeric characters and underscores
---
3. 1_myVar =  'John' ==> invalid name because Variable name Must start with a letter or the underscore character,
Must not start with a number.
---
4. _myVar1 =  'John'==> valid name
---
5. myVar_1 =  'John'==> valid name
---
6. 1myvar =  'John'==> invalid name becaue Variable name Must start with a letter or the underscore character,Must not start with a number.
---
7. myVar#1 =  'John'==> invalid name because Variable name Not conflict with any Python keywords.
---
8. MyVar1 =  'John'==> valid name
---
9. for =  'John'==> invalid name because Variable name Not conflict with any Python keywords.

In [ ]:
myVar1 = 'John' ==> valid name
myVar-1 = 'John'
1_myVar = 'John'
_myVar1 = 'John'
myVar_1 = 'John'
1myvar = 'John'
myVar#1 = 'John'
MyVar1 = 'John'
for = 'John'

In [143]:
_myVar1 = 'John'
print(_myVar1)

John

In [ ]:
import numpy as np
import keyword
print(np.reshape(keyword.kwlist,[5,7]))

[['False' 'None' 'True' 'and' 'as' 'assert' 'async']
 ['await' 'break' 'class' 'continue' 'def' 'del' 'elif']
 ['else' 'except' 'finally' 'for' 'from' 'global' 'if']
 ['import' 'in' 'is' 'lambda' 'nonlocal' 'not' 'or']
 ['pass' 'raise' 'return' 'try' 'while' 'with' 'yield']]

# Datatypes
In python 3, there are 5 groups of standard datatypes available
1. **Boolean**: the value contains either True or False
        isMember = True
2. **Numeric**: the real number either whole number(int datatype) or floating point (float datatype),  or complex number (complex datatype)
        age = 20
        print(type(age))
        weight = 55.20
        print(type(weight))
        coefficient = 1+2j
        print(type(coefficient))

In [ ]:
 age = 20
 print(type(age))
 weight = 55.20
 print(type(weight))
 coefficient = 1+2j
 print(type(coefficient))

<class 'int'>
<class 'float'>
<class 'complex'>

# Question 4
Determine the type of these variables

In [ ]:
a = -10
b = 15.6
c = 10.00
d = -0
e = 0.0
f = 5j
g = 10 + 0j

In [11]:
print('type(a): ', type(a))
print('type(b): ', type(b))
print('type(c): ', type(c))
print('type(d): ', type(d))
print('type(e): ', type(e))
print('type(f): ', type(f))
print('type(g): ', type(g))

type(a):  <class 'int'>
type(b):  <class 'float'>
type(c):  <class 'float'>
type(d):  <class 'int'>
type(e):  <class 'float'>
type(f):  <class 'complex'>
type(g):  <class 'complex'>

# User input#

Input method can be used to retrieve input from users and store in assigned (string) variable.
1. One input per statement
	  
    #syntax: <variable> = input(â€˜Prompt statement: â€™)  
        fruit_name = input(â€˜Please enter your favorite fruitâ€™)

2. Multiple input per statement

In [ ]:
#One input per statement
fruit_name = input('Please enter your favorite fruit: ')
print('user input is: ',fruit_name)

Please enter your favorite fruit: apple
user input is:  apple

In [ ]:
age = input('Please enter your age :')
type(age)

Please enter your age :99

str

In [17]:
#Multiple input per statement
fruit1, fruit2 = input('Please enter your two favorite fruits:' ).split()
print('the first input is: ' ,fruit1)
print('the second input is: ' ,fruit2)

Please enter your two favorite fruits:asdsa asdsad
the first input is:  asdsa
the second input is:  asdsad

In [ ]:
num1, num2 = input('Please enter your two favorite numbers:' ).split()
print('the first input is: ' ,num1, type(num1))
print('the second input is: ' ,num2, type(num2))

Please enter your two favorite numbers:15 47
the first input is:  15 <class 'str'>
the second input is:  47 <class 'str'>

In [ ]:
num1, num2 = input('Please enter your two favorite numbers:' ).split(',')
print('the first input is: ' ,num1, type(num1))
print('the second input is: ' ,num2, type(num2))

#Question 5

Write a code to accept width and height of a rectangle and compute
1. Perimeter
2. Area

**Examples:**
```
Width and Height of this rectangle: 12.5, 15.5
Perimeter of this rectangle: 56
Area of this rectangle: 193.75
```

In [ ]:
#Write a code to accept width and height of a rectangle and compute
#Perimeter
#Area

width,height = input("Width and Height of this rectangle:").split(',')
width = float(width)
height = float(height)

Perimeter_of_this_rectangle = 2*(float(width)+float(height))
print('Perimeter of this rectangle is:',Perimeter_of_this_rectangle)

Area_of_this_rectangle = (float(width)*float(height))
print('Area of this rectangle is:',Area_of_this_rectangle)

In [ ]:
width = float(width)
print(width, type(width))

12.5 <class 'float'>

#Question 6

Write a code to accept three number and output
* whether the first number is the greatest
* whether the first number is the least
* whether the first number is the medium


**Examples:**
```
Enter three number: 10 , 55, 54
The first number is the greatest: False
The first number is the least: True
The first number is the medium: False
```

```
Enter three number: 60 , 55, 54
The first number is the greatest: True
The first number is the least: False
The first number is the medium: False
```

```
Enter three number: 60 , 55, 84
The first number is the greatest: False
The first number is the least: False
The first number is the medium: True
```

In [144]:
from ast import Return
n1,n2,n3 = input("Enter three number:").split(',')
n1 = int(n1)
n2 = int(n2)
n3 = int(n3)

#whether the first number is the greatest
if  (n1 > n2) and (n1 > n3):
    greatest = True
else:
  greatest = False
print("The first number is the greatest",(bool(greatest))),

#whether the first number is the least
if  (n1 < n2) and (n1 < n3):
    least = True
else:
  least = False
print("The first number is the least",(bool(least)))

#The first number is the medium
if  (n1 < n2) and (n1 < n3):
   medium = False
if (n1 < n2) and (n1 < n3):
    medium = False
else:
  medium = True
print("The first number is the medium",(bool(medium)))

Enter three number:20,23,24
The first number is the greatest False
The first number is the least True
The first number is the medium False

In [ ]:
print(n1,n2,n3)

is_n1_greatest = int(n1)>int(n2) and int(n1)>int(n3)

print(is_n1_greatest)

60 55 84
False

# Question 7  
Write code to convert between Celsius, Kelvin, and Fahrenheit
- take Celsius as an input and compute Fahrenheit and kelvin as output

- take kelvin as an input and compute Fahrenheit and Celsius as output

- take Fahrenheit as an input and compute kelvin and Celsius as output

  https://en.wikipedia.org/wiki/Fahrenheit

In [ ]:
#take Celsius as an input and compute Fahrenheit and kelvin as output
celsius = input("Celsius = ")
celsius_int = int(celsius)
#fahrenheit =
kelvin = 273+celsius_int
#print(celsius, 'C = ' , fahrenheit, ' F')
print(celsius, 'C = ' , kelvin, ' K')

Celsius = 50
50 C =  323  K

In [ ]:
#take kelvin as an input and compute Fahrenheit and Celsius as output
kelvin = input("kelvin = ")
kelvin_int = int(kelvin)
#fahrenheit =
fahrenheit = kelvin_int*9/5 - 459.67
#Celsius
Celsius = kelvin_int - 273.15
print(fahrenheit, 'F = ' , kelvin, ' K')

kelvin = 50
-369.67 F =  50  K

In [ ]:
#take Fahrenheit as an input and compute kelvin and Celsius as output
Fahrenheit = input("Fahrenheit = ")
Fahrenheit_int = int(Fahrenheit)
#Kelvin
kelvin = (Fahrenheit_int + 459.67)*5/9
#Celsius
Celsius = (Fahrenheit_int-32)*5/9
print(kelvin , 'k = ' , Celsius, ' C')

Fahrenheit = 40
277.59444444444443 k =  4.444444444444445  C